
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs" style="font-size:20px;">
                                <i class="fa fa-area-chart"></i>
                                <strong class="font-bold">hAdmin</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">hAdmin
                </div>
            </li>
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
            <li>
                <a class="J_menuItem" href="index_v1.html">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">我的秦邦国际</span>
                </a>
            </li>
           <li>
                <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">账号管理 </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                	<li><a class="J_menuItem" href="role/roleIndex.htm">角色管理</a>
                    </li>
                    <li><a class="J_menuItem" href="defaultRate/indexDefaultRate.htm">产品管理</a>
                    </li>
                    <li><a class="J_menuItem" href="client/index.htm">客户管理</a>
                    </li>
                    <li><a class="J_menuItem" href="mail_compose.html">秦邦国际公告</a>
                    </li>
                    
                </ul>
            </li>
            <li class="line dk"></li>
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
             <li>
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">系统管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="menu/menuIndex.htm">菜单管理</a>
                    </li>
                </ul>
            </li>
           <li class="line dk"></li>
           <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
             <li>
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">订单管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="table_basic.html">订单查询</a>
                    </li>
                    <li><a class="J_menuItem" href="table_data_tables.html">订单统计</a>
                    </li>
                    <li><a class="J_menuItem" href="table_jqgrid.html">退款查询</a>
                    </li>
                    <li><a class="J_menuItem" href="table_foo_table.html">Foo Tables</a>
                    </li>
                    <li><a class="J_menuItem" href="table_bootstrap.html">Bootstrap Table
                        <span class="label label-danger pull-right">推荐</span></a>
                    </li>
                </ul>
            </li>
            <li class="line dk"></li>
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
            <li>
                <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">资金管理 </span><span class="label label-warning pull-right">16</span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="mailbox.html">收支查询</a>
                    </li>
                    <li><a class="J_menuItem" href="mail_detail.html">快速体现</a>
                    </li>
                    <li><a class="J_menuItem" href="mail_compose.html">提现查询</a>
                    </li>
                    <li><a class="J_menuItem" href="mail_compose.html">付款</a>
                    </li>
                     <li><a class="J_menuItem" href="mail_compose.html">付款查询</a>
                    </li>
                     <li><a class="J_menuItem" href="mail_compose.html">充值</a>
                    </li>
                      <li><a class="J_menuItem" href="mail_compose.html">充值查询</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">结算管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="form_basic.html">基本表单</a>
                    </li>
                    <li><a class="J_menuItem" href="form_validate.html">表单验证</a>
                    </li>
                    <li><a class="J_menuItem" href="form_advanced.html">高级插件</a>
                    </li>
                    <li><a class="J_menuItem" href="form_wizard.html">表单向导</a>
                    </li>
                    <li>
                        <a href="#">文件上传 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" href="form_webuploader.html">百度WebUploader</a>
                            </li>
                            <li><a class="J_menuItem" href="form_file_upload.html">DropzoneJS</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">编辑器 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" href="form_editors.html">富文本编辑器</a>
                            </li>
                            <li><a class="J_menuItem" href="form_simditor.html">simditor</a>
                            </li>
                            <li><a class="J_menuItem" href="form_markdown.html">MarkDown编辑器</a>
                            </li>
                            <li><a class="J_menuItem" href="code_editor.html">代码编辑器</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="J_menuItem" href="layerdate.html">日期选择器layerDate</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">产品服务</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="contacts.html">申请开通新支付类型</a>
                    </li>
                    <li><a class="J_menuItem" href="profile.html">支付类型开通查询</a>
                    </li>
                    
                    <li><a class="J_menuItem" href="teams_board.html">鉴权服务</a>
                    </li>
                    <li><a class="J_menuItem" href="social_feed.html">认证服务</a>
                    </li>
                    
                </ul>
            </li>
            <li class="line dk"></li>
            
            <li class="line dk"></li>
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
            <li>
                <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">贴码管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="basic_gallery.html">基本图库</a>
                    </li>
                    <li><a class="J_menuItem" href="carousel.html">图片切换</a>
                    </li>
                    <li><a class="J_menuItem" href="blueimp.html">Blueimp相册</a>
                    </li>
                </ul>
            </li>
         </ul>
    </div>
</nav>
<!--左侧导航结束-->
<script type="text/javascript">
	function menu(li){
		var url = $(li).attr("menu-url");
		document.location.href = url;
	}
</script>
